* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img8 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body1 {
  position: relative;
  line-height: 0;
}
.body2 {
  position: relative;
  line-height: 0;
}
.body3 {
  position: relative;
  line-height: 0;
}
.body4 {
  position: relative;
  line-height: 0;
}
.body5 {
  position: relative;
  line-height: 0;
}
.body6 {
  position: relative;
  line-height: 0;
}
.body7 {
  position: relative;
  line-height: 0;
}
.footer {
  position: relative;
  line-height: 0;
}
.h1_1 {
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 38%;
  color: #106091;
  font-family: "Yanone Kaffeesatz";
  /* transform: translate(-50%, -50%); */
}
.h2_1 {
  font-size: 150px;
  position: absolute;
  color: #106091;
  top: 38%;
  left: 45%;
  font-family: "Yanone Kaffeesatz";
  /* transform: translate(-50%, -50%); */
}
#h4_1 {
  font-size: 50px;
  color: #33a8c9;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 59%;
  left: 36.5%;
}
#p1_1 {
  font-size: 22px;
  color: #106091;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 65%;
  left: 37%;
  line-height: 1.2;
}
#btn1 {
  cursor: pointer;
  position: absolute;
  top: 80%;
  left: 41%;
  margin: 20px, 20px, 20px, 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  border-radius: 15px;
  border-color: #709ebc;
  border-width: 10px;
  font-family: "Yanone Kaffeesatz";
  color: #fff;
  background-color: #106091;
}

#h1_2 {
  font-size: 150px;
  color: #33a8c9;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 35%;
  left: 50%;
}
#h2_2 {
  font-size: 150px;
  color: #106091;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 35%;
  left: 61%;
}
#p1_2 {
  font-size: 22px;
  color: #106091;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 50%;
  left: 48.5%;
  line-height: 1.2;
}
#btn2 {
  cursor: pointer;
  position: absolute;
  top: 68%;
  left: 48.5%;
  margin: 20px, 20px, 20px, 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  border-radius: 25px;
  border-color: #42a2e2;
  border-width: 10px;
  font-family: "Yanone Kaffeesatz";
  color: #fff;
  background-color: #7bc1ec;
}
#h1_3 {
  font-size: 150px;
  color: #33a8c9;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 30%;
  left: 10%;
}
#h2_3 {
  font-size: 150px;
  color: #106091;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 30%;
  left: 21%;
}
#p1_3 {
  font-size: 22px;
  color: #106091;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 40%;
  left: 11%;
  line-height: 1.2;
}
#p2_3 {
  font-size: 21px;
  color: #106091;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 50%;
  left: 11%;
  line-height: 1.2;
}
#btn3 {
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 11%;
  margin: 20px, 20px, 20px, 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  border-radius: 25px;
  border-color: #42a2e2;
  border-width: 10px;
  font-family: "Yanone Kaffeesatz";
  color: #fff;
  background-color: #7bc1ec;
}
#h1_4 {
  font-size: 150px;
  color: #33a8c9;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 5%;
  left: 20%;
}
#h2_4 {
  font-size: 150px;
  color: #106091;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 5%;
  left: 31%;
}
#p1_4 {
  font-size: 22px;
  color: #106091;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 7%;
  left: 20%;
  line-height: 1.2;
}
#btn4 {
  cursor: pointer;
  position: absolute;
  top: 12%;
  left: 20%;
  margin: 20px, 20px, 20px, 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  border-radius: 25px;
  border-color: #42a2e2;
  border-width: 10px;
  font-family: "Yanone Kaffeesatz";
  color: #fff;
  background-color: #7bc1ec;
}
#h1_5 {
  font-size: 120px;
  color: #363636;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 20%;
  left: 20%;
}
#h2_5 {
  font-size: 150px;
  color: #808080;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 35%;
  left: 20%;
}
#p1_5 {
  font-size: 22px;
  color: #797979;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 39%;
  left: 20%;
  line-height: 1.2;
}
#btn5 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 20%;
  margin: 20px, 20px, 20px, 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  border-radius: 25px;
  border-color: #636566;
  border-width: 10px;
  font-family: "Yanone Kaffeesatz";
  color: #fff;
  background-color: #363636;
}
#h1_6 {
  font-size: 120px;
  color: #363636;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 17%;
  left: 55%;
}
#h2_6 {
  font-size: 150px;
  color: #808080;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 30%;
  left: 55%;
}
#p1_6 {
  font-size: 22px;
  color: #797979;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 37%;
  left: 55%;
  line-height: 1.2;
}
#btn6 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 55%;
  margin: 20px, 20px, 20px, 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  border-radius: 25px;
  border-color: #636566;
  border-width: 10px;
  font-family: "Yanone Kaffeesatz";
  color: #fff;
  background-color: #363636;
}
#h1_7 {
  font-size: 120px;
  color: #363636;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 20%;
  left: 51%;
}
#h2_7 {
  font-size: 150px;
  color: #808080;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 34%;
  left: 51%;
}
#p1_7 {
  font-size: 22px;
  color: #797979;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 42%;
  left: 51%;
  line-height: 1.2;
}
#btn7 {
  cursor: pointer;
  position: absolute;
  top: 53%;
  left: 51%;
  margin: 20px, 20px, 20px, 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  border-radius: 25px;
  border-color: #636566;
  border-width: 10px;
  font-family: "Yanone Kaffeesatz";
  color: #fff;
  background-color: #363636;
}
#h1_8 {
  font-size: 20px;
  color: #868a8d;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 40%;
  left: 56%;
}
#h2_8 {
  font-size: 40px;
  color: #106091;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 60%;
  left: 53%;
}
#h3_8 {
  font-size: 30px;
  color: #42a2e2;
  position: absolute;
  font-family: "Roboto Condensed";
  top: 70%;
  left: 48%;
}
#div_f {
  font-size: 16px;
  color: #868a8d;
  position: absolute;
  font-family: "Yanone Kaffeesatz";
  top: 45%;
  left: 50%;
}
.img9 {
  width: 24px;
}
#a_f {
  cursor: pointer;
  font-size: 30px;
  color: black;
  font-family: "Roboto Condensed";
  text-decoration: none;
}
@media screen and (min-width: 1400px) {
  .h1_1 {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 40%;
    color: #106091;
    font-family: "Yanone Kaffeesatz";
    /* transform: translate(-50%, -50%); */
  }
  .h2_1 {
    font-size: 100px;
    position: absolute;
    color: #106091;
    top: 38%;
    left: 46%;
    font-family: "Yanone Kaffeesatz";
    /* transform: translate(-50%, -50%); */
  }
  #h4_1 {
    font-size: 40px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 59%;
    left: 36.5%;
  }
  #p1_1 {
    font-size: 19px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 63%;
    left: 36%;
    line-height: 1.2;
  }
  #btn1 {
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 43%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #709ebc;
    border-width: 5px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    /* background-color: #106091; */
  }
  #h1_2 {
    font-size: 100px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 35%;
    left: 50%;
  }
  #h2_2 {
    font-size: 100px;
    color: #106091;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 35%;
    left: 60%;
  }
  #p1_2 {
    font-size: 19px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 43%;
    left: 43%;
    line-height: 1.2;
  }
  #btn2 {
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 48%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #42a2e2;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #7bc1ec;
  }
  #h1_3 {
    font-size: 100px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 30%;
    left: 10%;
  }
  #h2_3 {
    font-size: 100px;
    color: #106091;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 30%;
    left: 19.5%;
  }
  #p1_3 {
    font-size: 19px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 37%;
    left: 11%;
    line-height: 1.2;
  }
  #p2_3 {
    font-size: 19px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 49%;
    left: 11%;
    line-height: 1.2;
  }
  #btn3 {
    cursor: pointer;
    position: absolute;
    top: 59%;
    left: 11%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #42a2e2;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #7bc1ec;
  }
  #h1_4 {
    font-size: 100px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 5%;
    left: 20%;
  }
  #h2_4 {
    font-size: 100px;
    color: #106091;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 5%;
    left: 30%;
  }
  #p1_4 {
    font-size: 19px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 7%;
    left: 15%;
    line-height: 1.2;
  }
  #btn4 {
    cursor: pointer;
    position: absolute;
    top: 12%;
    left: 20%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #42a2e2;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #7bc1ec;
  }
  #h1_5 {
    font-size: 100px;
    color: #363636;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 20%;
    left: 15%;
  }
  #h2_5 {
    font-size: 125px;
    color: #808080;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 34%;
    left: 15%;
  }
  #p1_5 {
    font-size: 19px;
    color: #797979;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 43%;
    left: 15%;
    line-height: 1.2;
  }
  #btn5 {
    cursor: pointer;
    position: absolute;
    top: 57%;
    left: 15%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #636566;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #363636;
  }
  #h1_6 {
    font-size: 100px;
    color: #363636;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 15%;
    left: 55%;
  }
  #h2_6 {
    font-size: 125px;
    color: #808080;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 29%;
    left: 55%;
  }
  #p1_6 {
    font-size: 19px;
    color: #797979;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 37%;
    left: 55%;
    line-height: 1.2;
  }
  #btn6 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 55%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #636566;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #363636;
  }
  #h1_7 {
    font-size: 100px;
    color: #363636;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 20%;
    left: 51%;
  }
  #h2_7 {
    font-size: 125px;
    color: #808080;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 34%;
    left: 51%;
  }
  #p1_7 {
    font-size: 19px;
    color: #797979;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 42%;
    left: 51%;
    line-height: 1.2;
  }
  #btn7 {
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 51%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #636566;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #363636;
  }
  #h1_8 {
    font-size: 20px;
    color: #868a8d;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 40%;
    left: 56%;
  }
  #h2_8 {
    font-size: 40px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 60%;
    left: 53%;
  }
  #h3_8 {
    font-size: 30px;
    color: #42a2e2;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 70%;
    left: 48%;
  }
  #div_f {
    font-size: 16px;
    color: #868a8d;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 45%;
    left: 50%;
  }
  .img9 {
    width: 24px;
  }
  #a_f {
    cursor: pointer;
    font-size: 30px;
    color: black;
    font-family: "Roboto Condensed";
    text-decoration: none;
  }
}

@media screen and (min-width: 1200px) {
  .h1_1 {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 40%;
    color: #106091;
    font-family: "Yanone Kaffeesatz";
    /* transform: translate(-50%, -50%); */
  }
  .h2_1 {
    font-size: 100px;
    position: absolute;
    color: #106091;
    top: 38%;
    left: 46%;
    font-family: "Yanone Kaffeesatz";
    /* transform: translate(-50%, -50%); */
  }
  #h4_1 {
    font-size: 40px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 59%;
    left: 36.5%;
  }
  #p1_1 {
    font-size: 18px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 63%;
    left: 36%;
    line-height: 1.2;
  }
  #btn1 {
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 43%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #709ebc;
    border-width: 5px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    /* background-color: #106091; */
  }
  #h1_2 {
    font-size: 100px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 35%;
    left: 50%;
  }
  #h2_2 {
    font-size: 100px;
    color: #106091;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 35%;
    left: 59%;
  }
  #p1_2 {
    font-size: 18px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 43%;
    left: 46%;
    line-height: 1.2;
  }
  #btn2 {
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 48%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #42a2e2;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #7bc1ec;
  }
  #h1_3 {
    font-size: 100px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 30%;
    left: 10%;
  }
  #h2_3 {
    font-size: 100px;
    color: #106091;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 30%;
    left: 19.5%;
  }
  #p1_3 {
    font-size: 18px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 37%;
    left: 11%;
    line-height: 1.2;
  }
  #p2_3 {
    font-size: 18px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 49%;
    left: 11%;
    line-height: 1.2;
  }
  #btn3 {
    cursor: pointer;
    position: absolute;
    top: 59%;
    left: 11%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #42a2e2;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #7bc1ec;
  }
  #h1_4 {
    font-size: 100px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 5%;
    left: 20%;
  }
  #h2_4 {
    font-size: 100px;
    color: #106091;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 5%;
    left: 30%;
  }
  #p1_4 {
    font-size: 18px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 7%;
    left: 15%;
    line-height: 1.2;
  }
  #btn4 {
    cursor: pointer;
    position: absolute;
    top: 12%;
    left: 20%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #42a2e2;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #7bc1ec;
  }
  #h1_5 {
    font-size: 100px;
    color: #363636;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 20%;
    left: 15%;
  }
  #h2_5 {
    font-size: 125px;
    color: #808080;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 34%;
    left: 15%;
  }
  #p1_5 {
    font-size: 18px;
    color: #797979;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 43%;
    left: 15%;
    line-height: 1.2;
  }
  #btn5 {
    cursor: pointer;
    position: absolute;
    top: 57%;
    left: 15%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #636566;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #363636;
  }
  #h1_6 {
    font-size: 100px;
    color: #363636;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 15%;
    left: 55%;
  }
  #h2_6 {
    font-size: 125px;
    color: #808080;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 29%;
    left: 55%;
  }
  #p1_6 {
    font-size: 18px;
    color: #797979;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 37%;
    left: 55%;
    line-height: 1.2;
  }
  #btn6 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 55%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #636566;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #363636;
  }
  #h1_7 {
    font-size: 100px;
    color: #363636;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 20%;
    left: 51%;
  }
  #h2_7 {
    font-size: 125px;
    color: #808080;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 34%;
    left: 51%;
  }
  #p1_7 {
    font-size: 18px;
    color: #797979;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 42%;
    left: 51%;
    line-height: 1.2;
  }
  #btn7 {
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 51%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border-color: #636566;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #363636;
  }
  #h1_8 {
    font-size: 20px;
    color: #868a8d;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 40%;
    left: 56%;
  }
  #h2_8 {
    font-size: 40px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 60%;
    left: 53%;
  }
  #h3_8 {
    font-size: 30px;
    color: #42a2e2;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 70%;
    left: 48%;
  }
  #div_f {
    font-size: 16px;
    color: #868a8d;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 45%;
    left: 50%;
  }
  .img9 {
    width: 24px;
  }
  #a_f {
    cursor: pointer;
    font-size: 30px;
    color: black;
    font-family: "Roboto Condensed";
    text-decoration: none;
  }
}
@media screen and (min-width: 1600px) {
  .h1_1 {
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 38%;
    color: #106091;
    font-family: "Yanone Kaffeesatz";
    /* transform: translate(-50%, -50%); */
  }
  .h2_1 {
    font-size: 150px;
    position: absolute;
    color: #106091;
    top: 38%;
    left: 45%;
    font-family: "Yanone Kaffeesatz";
    /* transform: translate(-50%, -50%); */
  }
  #h4_1 {
    font-size: 50px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 59%;
    left: 36.5%;
  }
  #p1_1 {
    font-size: 22px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 65%;
    left: 37%;
    line-height: 1.2;
  }
  #btn1 {
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 41%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
    border-color: #709ebc;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #106091;
  }

  #h1_2 {
    font-size: 150px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 35%;
    left: 50%;
  }
  #h2_2 {
    font-size: 150px;
    color: #106091;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 35%;
    left: 61%;
  }
  #p1_2 {
    font-size: 22px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 50%;
    left: 48.5%;
    line-height: 1.2;
  }
  #btn2 {
    cursor: pointer;
    position: absolute;
    top: 68%;
    left: 48.5%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 25px;
    border-color: #42a2e2;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #7bc1ec;
  }
  #h1_3 {
    font-size: 150px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 30%;
    left: 10%;
  }
  #h2_3 {
    font-size: 150px;
    color: #106091;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 30%;
    left: 21%;
  }
  #p1_3 {
    font-size: 22px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 40%;
    left: 11%;
    line-height: 1.2;
  }
  #p2_3 {
    font-size: 21px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 50%;
    left: 11%;
    line-height: 1.2;
  }
  #btn3 {
    cursor: pointer;
    position: absolute;
    top: 65%;
    left: 11%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 25px;
    border-color: #42a2e2;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #7bc1ec;
  }
  #h1_4 {
    font-size: 150px;
    color: #33a8c9;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 5%;
    left: 20%;
  }
  #h2_4 {
    font-size: 150px;
    color: #106091;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 5%;
    left: 31%;
  }
  #p1_4 {
    font-size: 22px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 7%;
    left: 20%;
    line-height: 1.2;
  }
  #btn4 {
    cursor: pointer;
    position: absolute;
    top: 12%;
    left: 20%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 25px;
    border-color: #42a2e2;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #7bc1ec;
  }
  #h1_5 {
    font-size: 120px;
    color: #363636;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 20%;
    left: 20%;
  }
  #h2_5 {
    font-size: 150px;
    color: #808080;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 33%;
    left: 20%;
  }
  #p1_5 {
    font-size: 22px;
    color: #797979;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 41%;
    left: 20%;
    line-height: 1.2;
  }
  #btn5 {
    cursor: pointer;
    position: absolute;
    top: 54%;
    left: 20%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 25px;
    border-color: #636566;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #363636;
  }
  #h1_6 {
    font-size: 120px;
    color: #363636;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 17%;
    left: 55%;
  }
  #h2_6 {
    font-size: 150px;
    color: #808080;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 30%;
    left: 55%;
  }
  #p1_6 {
    font-size: 22px;
    color: #797979;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 37%;
    left: 55%;
    line-height: 1.2;
  }
  #btn6 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 55%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 25px;
    border-color: #636566;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #363636;
  }
  #h1_7 {
    font-size: 120px;
    color: #363636;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 20%;
    left: 51%;
  }
  #h2_7 {
    font-size: 150px;
    color: #808080;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 34%;
    left: 51%;
  }
  #p1_7 {
    font-size: 22px;
    color: #797979;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 42%;
    left: 51%;
    line-height: 1.2;
  }
  #btn7 {
    cursor: pointer;
    position: absolute;
    top: 53%;
    left: 51%;
    margin: 20px, 20px, 20px, 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 25px;
    border-color: #636566;
    border-width: 10px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
    background-color: #363636;
  }
  #h1_8 {
    font-size: 20px;
    color: #868a8d;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 40%;
    left: 56%;
  }
  #h2_8 {
    font-size: 40px;
    color: #106091;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 60%;
    left: 53%;
  }
  #h3_8 {
    font-size: 30px;
    color: #42a2e2;
    position: absolute;
    font-family: "Roboto Condensed";
    top: 70%;
    left: 48%;
  }
  #div_f {
    font-size: 16px;
    color: #868a8d;
    position: absolute;
    font-family: "Yanone Kaffeesatz";
    top: 45%;
    left: 50%;
  }
  .img9 {
    width: 24px;
  }
  #a_f {
    cursor: pointer;
    font-size: 30px;
    color: black;
    font-family: "Roboto Condensed";
    text-decoration: none;
  }
}
